doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pricecut
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/stylesheets/material-design-icons.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/font.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/app.css', type='text/css')
  body
    .app
      // content
      #content.app-content(role='main')
        .box
          .box-row
            .box-cell
              .box-inner.padding
                // Search Bar
                .row
                center
                  img.img-responsive(src='/images/pricecutsmall.png')
                  .col-lg-12
                    .panel.panel-default
                      .input-group
                        input.form-control(type='text', name='search', placeholder='search query', required='' , id='searchField')
                        span.input-group-btn
                          button.btn.btn-default(type='button' ,onclick='sendFormData()')
                            i.mdi-action-search.i-20
                // /
                // Products List
                .row
                  // flipkart list 
                  .col-sm-3
                    .panel.panel-card
                      .item
                        img#fimgurl1.w-full.r-t( width="" ,src='', alt='')
                      button.md-btn.md-raised.md-fab.brown.m-r.md-fab-offset.pull-right(onclick='sendFilterData()', md-ink-ripple='')
                      .p
                        h3#ftitle1 
                        i#famt1 
                  .col-sm-3
                    .panel.panel-card
                      .item
                        img#fimgurl2.w-full.r-t( src='', alt='')
                      button.md-btn.md-raised.md-fab.brown.m-r.md-fab-offset.pull-right(onclick='sendFilterData()', md-ink-ripple='')
                      .p
                        h3#ftitle2 
                        i#famt2
                  .col-sm-3
                    .panel.panel-card
                      .item
                        img#fimgurl3.w-full.r-t( src='', alt='')
                      button.md-btn.md-raised.md-fab.brown.m-r.md-fab-offset.pull-right(onclick='sendFilterData()', md-ink-ripple='')
                      .p
                        h3#ftitle3 
                        i#famt3
                  .col-sm-3
                    .panel.panel-card
                      .item
                        img#fimgurl4.w-full.r-t( src='', alt='')
                      button.md-btn.md-raised.md-fab.brown.m-r.md-fab-offset.pull-right(onclick='sendFilterData()', md-ink-ripple='')
                      .p
                        h3#ftitle4 
                        i#famt4 
                  .col-sm-3
                    .panel.panel-card
                      .item
                        img#fimgurl5.w-full.r-t( src='', alt='')
                      button.md-btn.md-raised.md-fab.brown.m-r.md-fab-offset.pull-right(onclick='sendFilterData()', md-ink-ripple='')
                      .p
                        h3#ftitle5 
                        i#famt5 
                  //ebay list
                  .col-sm-3
                    .panel.panel-card
                      .item
                        img#fimgurl6.w-full.r-t( src='', alt='')
                      button.md-btn.md-raised.md-fab.brown.m-r.md-fab-offset.pull-right(onclick='sendFilterData()', md-ink-ripple='')
                      .p
                        h3#etitle1
                        i#eamt1 
                  .col-sm-3
                    .panel.panel-card
                      .item
                        img#fimgurl7.w-full.r-t( src='', alt='')
                      button.md-btn.md-raised.md-fab.brown.m-r.md-fab-offset.pull-right(onclick='sendFilterData()', md-ink-ripple='')
                      .p
                        h3#etitle2 
                        i#eamt2
                  .col-sm-3
                    .panel.panel-card
                      .item
                        img#fimgurl8.w-full.r-t( src='', alt='')
                      button.md-btn.md-raised.md-fab.brown.m-r.md-fab-offset.pull-right(onclick='sendFilterData()', md-ink-ripple='')
                      .p
                        h3#etitle3
                        i#eamt3
                  .col-sm-3
                    .panel.panel-card
                      .item
                        img#fimgurl9.w-full.r-t( src='', alt='')
                      button.md-btn.md-raised.md-fab.brown.m-r.md-fab-offset.pull-right(onclick='sendFilterData()', md-ink-ripple='')
                      .p
                        h3#etitle4 
                        i#eamt4
                  .col-sm-3
                    .panel.panel-card
                      .item
                        img#fimgurl10.w-full.r-t( src='', alt='')
                      button.md-btn.md-raised.md-fab.brown.m-r.md-fab-offset.pull-right(onclick='sendFilterData()', md-ink-ripple='')
                      .p
                        h3#etitle5 
                        i#eamt5
                // /
      // / content
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/javascripts/indexFormHelper.js') 
