html(lang='en')
  head
    meta(charset='utf-8')
    title Pricecut
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/stylesheets/material-design-icons.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/font.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/app.css', type='text/css')
  body(onload='getUrlVars()')
    .app
      // content
      #content.app-content(role='main')
        .box
          .box-row
            .box-cell
              .box-inner.padding
                // Search Bar
                .row
                  center
                    img.img-responsive(src='/images/pricecutsmall.png')
                // /
                .card
                  .card-body.clearfix
                    .col-lg-2.col-md-2.col-sm-3
                      .item
                        img#ffimg.w-full.r-t(src='')
                    .col-md-3
                      .m-b.m-t-sm.h2
                        span#btitle 
                      a#bbn.btn.btn-sm.btn-success.m-b.p-h.no-border(href='') Buy Now
                      br
                      button.btn.m-v-xs.btn-info
                        | Best Price 
                        b#bprice.badge.bg-info.m-l-xs 30393
                      br
                      button.btn.m-v-xs.btn-primary
                        | COD 
                        i.mdi-action-done.i-24
                      br
                      button.btn.m-v-xs.btn-primary
                        | EMI 
                        i.mdi-action-highlight-remove.i-24
                      br
                      button.btn.m-v-xs.btn-primary
                        | Stock 
                        i.mdi-action-done.i-24
                      br
                      button.btn.m-v-xs.btn-primary Color &nbsp
                      span.label.label-lg Space Grey &nbsp
                      span.label.label-lg Gold
                    .col-md-7
                      .panel.panel-card
                        .p
                          h3 Description
                          p#ffproddesc
                // Filters
                .row
                  // /
                  .col-sm-12
                    .md-whiteframe-z0.bg-white
                      ul.nav.nav-lines.nav-tabs.nav-justified
                        li.active
                          a(href='', data-toggle='tab', data-target='#tab_7') LOWEST PRICE
                        li
                          a(href='', data-toggle='tab', data-target='#tab_8') MOST RIVIEWED
                        li
                          a(href='', data-toggle='tab', data-target='#tab_9') MOST SCORED
                      .tab-content.p.m-b-md.clear.b-t.b-t-2x
                        #tab_7.tab-pane.animated.fadeInDown.active(role='tabpanel')
                          .col-sm-12
                            .col-sm-2
                              img.img-responsive(src='/images/flip.png')
                            .col-sm-2
                              h5#fftitle1  
                            .col-sm-2
                              h5 COD
                              h5 EMI
                              h5 RETURN POLICY : 10 Days
                            .col-sm-2
                              h5 2 -4 Days DELIVERY
                              h5 COLOR : BLACK , WHITE
                            .col-sm-2
                              i#ffamt1 Rs 31,200
                            .col-sm-2
                              a#ffbn1(href='')
                                img.img-responsive(src='images/buy now.jpeg')
                          .col-sm-12
                            .col-sm-2
                              img.img-responsive(src='/images/ebay.jpg')
                            .col-sm-2
                              h5#eftitle1  
                            .col-sm-2
                              h5 COD
                              h5 EMI
                              h5 RETURN POLICY : 10 Days
                            .col-sm-2
                              h5 2 -4 Days DELIVERY
                              h5 COLOR : BLACK , WHITE
                            .col-sm-2
                              i#efamt1 Rs 43,200
                            .col-sm-2
                              a#efbn1(href='')
                                img.img-responsive(src='images/buy now.jpeg')
                        #tab_8.tab-pane.animated.fadeInDown(role='tabpanel')
                          .col-sm-12
                            .col-sm-2
                              img.img-responsive(src='/images/ebay.jpg')
                            .col-sm-2
                              h5#eftitle2
                            .col-sm-2
                              h5 COD
                              h5 EMI
                              h5 RETURN POLICY : 10 Days
                            .col-sm-2
                              h5 2 -4 Days DELIVERY
                              h5 COLOR : BLACK , WHITE
                            .col-sm-2
                              i#efamt2 Rs 
                            .col-sm-2
                              a#efbn2(href='')
                                img.img-responsive(src='/images/buy now.jpeg')
                          .col-sm-12
                            .col-sm-2
                              img.img-responsive(src='/images/flip.png')
                            .col-sm-2
                              h5#fftitle2
                            .col-sm-2
                              h5 COD
                              h5 EMI
                              h5 RETURN POLICY : 10 Days
                            .col-sm-2
                              h5 2 -4 Days DELIVERY
                              h5 COLOR : BLACK , WHITE
                            .col-sm-2
                              i#ffamt2 Rs 31,200
                            .col-sm-2
                              a#ffbn2(href='')
                                img.img-responsive(src='/images/buy now.jpeg')
                        #tab_9.tab-pane.animated.fadeInDown(role='tabpanel')
                          .col-sm-12
                            .col-sm-2
                              img.img-responsive(src='/images/flip.png')
                            .col-sm-2
                              h5#fftitle3
                            .col-sm-2
                              h5 COD
                              h5 EMI
                              h5 RETURN POLICY : 10 Days
                            .col-sm-2
                              h5 2 -4 Days DELIVERY
                              h5 COLOR : BLACK , WHITE
                            .col-sm-2
                              i#ffamt3 Rs
                            .col-sm-2
                              a#ffbn3(href='')
                                img.img-responsive(src='/images/buy now.jpeg')
                          .col-sm-12
                            .col-sm-2
                              img.img-responsive(src='/images/ebay.jpg')
                            .col-sm-2
                              h5#eftitle3
                            .col-sm-2
                              h5 COD
                              h5 EMI
                              h5 RETURN POLICY : 10 Days
                            .col-sm-2
                              h5 2 -4 Days DELIVERY
                              h5 COLOR : BLACK , WHITE
                            .col-sm-2
                              i#efamt3 Rs
                            .col-sm-2
                              a#efbn3(href='')
                                img.img-responsive(src='/images/buy now.jpeg')
      // / content
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/javascripts/indexFormHelper.js')
    script(src='/javascripts/filterHelper.js')
